/* .header {
    height: 50px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* .user-nav {
    display: flex;
    justify-content: space-between;
} */